---
aliases:
- /algorythms/twitter/2021/05/31/e-from-random-sums
author: David Dobrinskiy
badges: true
categories:
- algorythms
- twitter
date: '2021-05-31'
output-file: 2021-05-31-e-from-random-sums.html
title: e from random sums
toc: false

---

```
select numbers between 0 and 1 randomly until sum is > 1

The expected # of selections needed is equal to e
```

In [1]:
# setup imports
import math
from typing import Tuple

import numpy as np
import pandas as pd
from tqdm.notebook import trange

In [5]:
def run_experiment() -> Tuple[float, int]:
    s = 0
    n = 0

    while s <= 1:
        n += 1
        s += np.random.uniform(0, 1)

    return s, n


logs = [run_experiment() for _ in trange(2_000_000)]

df = pd.DataFrame(logs, columns=["sum", "nums_to_one"])
df.head()

  0%|          | 0/2000000 [00:00<?, ?it/s]

        sum  nums_to_one
0  1.160454            2
1  1.099141            2
2  1.171709            3
3  1.664728            3
4  1.291741            2

In [6]:
# | echo: false
from IPython.display import Markdown, display

display(
    Markdown(
        f"""
```
euler's number: {math.e:.6f}
avg num to one: {df['nums_to_one'].mean():.6f}
     avg sum*2: {df['sum'].mean()*2:.6f}
```
"""
    )
)

```
euler's number: 2.718282
avg num to one: 2.717664
     avg sum*2: 2.718284
```

In [7]:
df.describe()

                sum   nums_to_one
count  2.000000e+06  2.000000e+06
mean   1.359142e+00  2.717664e+00
std    2.425132e-01  8.745580e-01
min    1.000000e+00  2.000000e+00
25%    1.152672e+00  2.000000e+00
50%    1.325424e+00  2.000000e+00
75%    1.538078e+00  3.000000e+00
max    1.999527e+00  9.000000e+00